:root {
    --text-color: #000000;
    --background-color: #ffffff;
    --surface-color: #f0f0f0;
    --accent-color: #b22323;
}

html {
    font: 16px "Montserrat", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: clamp(400px, 70vw, 800px);
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-weight: 700;
    margin: 0;
}

a {
    color: var(--accent-color);
    font: 16px "Montserrat", sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input,
textarea,
select {
    height: 2.5em;
    padding: 0 0.5em;
    border: none;
    border-radius: 8px;
    background-color: var(--surface-color);
    color: var(--text-color);
    font: 16px "Montserrat", sans-serif;
}

button {
    height: 2.5em;
    padding: 0 1em;
    border: none;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: white;
    font: 16px "Montserrat", sans-serif;
    transition: 50ms ease;
}

button:hover {
    filter: brightness(1.25);
}

.thumbnail {
    width: 100%;
    border-radius: 8px;
    background-color: var(--surface-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ffffff;
        --background-color: #151515;
        --surface-color: #1c1c1c;
        --accent-color: #b22323;
    }
}